body{
    color:brown
}
#abc{
   letter-spacing:5px;
}
h1,h2{
    color:tomato;
}
.l{
    font-style:italic;
    text-decoration: underline;
}
.td{
    text-decoration:line-through;
}
.thr{
    
    background-color:yellow;

}
.th{
        background-color:yellow;
        font-weight:bold;
        
}
a{
    text-decoration: none;
    font-style:italic;
    color:tomato;
}
