body{
    color:brown
}
#abc{
   letter-spacing:5px;
}
h1,h2{
    color:tomato;
}
.l{
    font-style:italic;
    text-decoration: underline;
}
.td{
    text-decoration:line-through;
}
.thr{
    background-color:yellow;
    font-style:italic;
    color:tomato;
}
